# Compiled source #
###################
*.o
dependencies.d
resolver

# Log files #
#############
*.log
log/*

# Runtime data #
################
*.dat
area/*
backup/*
boards/*
clans/*
corpses/*
deleted/*
gods/*
player/*
races/*.race
system/*.txt
src/nohup.out
vault/*
watch/*
building/*.are
building/*.bak

# Executable #
##############
smaug
